<!DOCTYPE html>
<html ng-app="FrontCustosGUI"
      ng-controller="MainCtrl as ctrl"
      style="background: transparent;">
<head>
    <meta charset="utf-8"/>
    <title>Front Custos GUI</title>
    <link rel="stylesheet" href="font/custom-font.css"/>
    <link rel="stylesheet" href="font/material-icons.css"/>

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="angular-perfect-scrollbar/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" href="ng-sortable/ng-sortable.min.css"/>

    <link rel="stylesheet" href="css/json-viewer.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body class="shadow-wrap"
      md-theme="{{ config.theme }}"
      style="background: transparent;">
<script>
    document.ondragover = document.ondrop = function (e) {
        e.preventDefault();
        return false;
    };
</script>

<div class="window-box shadow-box theme-default">
    <header class="window-header" ng-controller="HeaderCtrl as ctrl">
        <div class="header-row">
            <!-- Title -->
            <span class="title">
                Front Custos GUI - (Ver <span ng-bind="version">...</span>)
            </span>
            <div class="spacer"></div>
            <!-- Top Bar Buttons -->
            <section class="ctrl-btns" layout="row" layout-align="center center" layout-wrap>
                <md-menu>
                    <md-button class="clickable md-icon-button"
                               ng-click="minimizeWindow();">
                        <md-tooltip md-direction="bottom">
                            最小化窗口
                        </md-tooltip>
                        <md-icon class="material-icons">remove</md-icon>
                    </md-button>
                    <md-menu-content></md-menu-content>
                </md-menu>
                <md-menu md-position-mode="target-right target">
                    <md-button class="clickable md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <md-tooltip md-direction="bottom">
                            展开菜单
                        </md-tooltip>
                        <md-icon md-menu-origin class="material-icons">arrow_drop_down</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="showConfig($event)">
                                配置
                                <span md-menu-align-target style="float: right;"></span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="checkUpdate($event)">
                                检查更新
                                <span md-menu-align-target style="float: right;"></span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="showAbout($event)">
                                关于
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <md-button class="clickable md-icon-button"
                               ng-click="closeWindow();">
                        <md-tooltip md-direction="bottom">
                            关闭窗口
                        </md-tooltip>
                        <md-icon class="material-icons">close</md-icon>
                    </md-button>
                    <md-menu-content></md-menu-content>
                </md-menu>
            </section>
        </div>
    </header>
    <main class="window-content" ng-controller="ListBoxCtrl as ctrl">
        <!-- Project List -->
        <md-content class="list-box">
            <perfect-scrollbar class="list-scroll"
                               wheel-propagation="true"
                               wheel-speed="2"
                               min-scrollbar-length="20">
                <!--<md-subheader class="list-title">项目列表</md-subheader>-->
                <md-list class="proj-list not-selectable"
                         data-as-sortable="dragControlListeners"
                         data-ng-model="projList">
                    <md-list-item class="proj-item {{isCurrent(item.id)}}"
                                  data-id="{{item.id}}"
                                  ng-repeat="item in projList"
                                  ng-click="setCurrent(item.id, $event)"
                                  aria-label="{{item.projName}}"
                                  data-as-sortable-item>
                        <p class="proj-name"
                           ng-bind="item.projName"
                           title="{{item.projName}}"
                           data-as-sortable-item-handle></p>
                    </md-list-item>
                </md-list>
            </perfect-scrollbar>
            <md-button class="md-fab float-btn btn-add-proj"
                       ng-click="showOpenDialog($event)">
                <md-tooltip md-direction="bottom">
                    导入项目
                </md-tooltip>
                <md-icon class="material-icons">add</md-icon>
            </md-button>
            <!--<md-button class="md-fab md-primary float-btn btn-reload"-->
            <!--ng-show="isDebug"-->
            <!--onclick="window.location.reload();">-->
            <!--<md-tooltip md-direction="bottom">-->
            <!--刷新窗口-->
            <!--</md-tooltip>-->
            <!--<md-icon class="material-icons">refresh</md-icon>-->
            <!--</md-button>-->
        </md-content>

        <!-- Current Project Info -->
        <md-content class="info-box md-default-theme" ng-controller="InfoBoxCtrl as ctrl">
            <form class="info-form"
                  name="curProjForm">
                <md-fab-speed-dial class="btn-open" ng-cloak
                                   md-open="ctrl.isOpenExpanded"
                                   md-direction="up"
                                   ng-class="ctrl.openDialMode">
                    <md-fab-trigger>
                        <md-button aria-label="打开…" class="md-fab md-primary">
                            <md-tooltip md-direction="bottom">
                                打开…
                            </md-tooltip>
                            <md-icon class="material-icons">folder</md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button aria-label="打开输出目录" class="md-fab md-raised md-mini"
                                   ng-disabled="curProj.id === null"
                                   ng-click="openDistDir()">
                            <md-tooltip md-direction="right">
                                打开项目生成目录
                            </md-tooltip>
                            <md-icon class="material-icons">assignment_returned</md-icon>
                        </md-button>
                        <md-button aria-label="打开源目录" class="md-fab md-raised md-mini"
                                   ng-disabled="curProj.id === null"
                                   ng-click="openSrcDir()">
                            <md-tooltip md-direction="right">
                                打开项目源目录
                            </md-tooltip>
                            <md-icon class="material-icons">assignment_return</md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
                <md-button class="md-fab btn-delete"
                           ng-disabled="curProj.id === null"
                           ng-click="removeProj($event)">
                    <md-tooltip md-direction="bottom">
                        删除项目配置
                    </md-tooltip>
                    <md-icon class="material-icons">delete</md-icon>
                </md-button>
                <md-button class="md-fab md-primary btn-save"
                           ng-disabled="curProj.id === null"
                           ng-click="saveProj($event)">
                    <md-tooltip md-direction="bottom">
                        保存项目配置
                    </md-tooltip>
                    <md-icon class="material-icons">save</md-icon>
                </md-button>
                <md-tabs md-border-bottom>
                    <md-tab label="基本信息">
                        <md-content layout-margin>
                            <md-card>
                                <md-card-content layout="column">
                                    <div layout="row">
                                        <md-input-container class="md-block" flex="70">
                                            <label>名称</label>
                                            <input ng-model="curProj.projName" name="projName" required
                                                   ng-disabled="curProj.id === null"
                                                   placeholder="为将要处理的项目取个好记的名字"/>
                                            <div ng-messages="curProjForm.projName.$error">
                                                <div ng-message="required">请输入项目名称</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="30">
                                            <label>版本</label>
                                            <input ng-model="curProj.version" name="version"
                                                   ng-disabled="curProj.id === null"
                                                   placeholder="项目目前的版本号"/>
                                        </md-input-container>
                                    </div>
                                    <md-input-container class="md-block" flex>
                                        <label>位置</label>
                                        <input ng-model="curProj.projDir" name="projDir" required readonly
                                               ng-disabled="curProj.id === null"
                                               placeholder="这个项目所在的本地目录"/>
                                        <div ng-messages="curProjForm.projDir.$error">
                                            <div ng-message="required">请选择项目所在位置</div>
                                        </div>
                                    </md-input-container>
                                    <div layout="row">
                                        <md-input-container class="md-block" flex="50">
                                            <label>内部源目录（选填）</label>
                                            <input ng-model="curProj.innerSrcDir" name="innerSrcDir"
                                                   ng-disabled="curProj.id === null"
                                                   placeholder="处理子目录时填写，如：“./src”"/>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="50">
                                            <label>内部输出目录（选填）</label>
                                            <input ng-model="curProj.innerDistDir" name="innerDistDir"
                                                   ng-disabled="curProj.id === null"
                                                   placeholder="输出到子目录时填写，如：“./dist”"/>
                                        </md-input-container>
                                    </div>

                                    <!--<md-button class="md-raised" flex="15"-->
                                    <!--ng-disabled="curProj.id === null">选择-->
                                    <!--</md-button>-->
                                </md-card-content>
                            </md-card>

                            <!--<h4>开始操作</h4>-->

                            <div layout="row">
                                <md-button class="md-raised middle-width"
                                           ng-disabled="curProj.id === null"
                                           ng-click="buildLocally()">本地构建
                                </md-button>
                                <md-button class="md-raised md-primary middle-width"
                                           ng-disabled="curProj.id === null"
                                           ng-click="buildUpload()">构建上传
                                </md-button>
                            </div>
                            <div layout="row">
                                <md-switch class="middle-width"
                                           ng-checked="curProj.watchToRebuilding"
                                           ng-click="!(curProj.id === null) && toggleCurWatching()"
                                           ng-disabled="curProj.id === null">监听自动构建
                                </md-switch>
                                <md-switch class="middle-width"
                                           ng-model="curProj.upOpt.uploadAll"
                                           ng-disabled="curProj.id === null">全量上传
                                </md-switch>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="任务列表">
                        <md-content layout-margin>
                            <md-card>
                                <md-list>
                                    <md-list-item ng-repeat="item in allTasks"
                                                  aria-label="{{item.desc}}"
                                                  ng-click="!(item.locked || curProj.id === null) && toggle(item.name, curProj.tasks)">
                                        <md-checkbox aria-label="{{item.desc}}"
                                                     ng-checked="item.locked || exists(item.name, curProj.tasks)"
                                                     ng-disabled="item.disabled || item.locked || curProj.id === null"></md-checkbox>
                                        <p flex>
                                            <span ng-bind="item.desc"></span>
                                            <em ng-bind="item.name"></em>
                                        </p>
                                    </md-list-item>
                                </md-list>
                            </md-card>
                        </md-content>
                    </md-tab>
                    <md-tab label="任务配置">
                        <md-content layout-margin>
                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">雪碧图合成</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content layout="column">
                                    <md-input-container class="md-block" flex>
                                        <label>像素密度</label>
                                        <input ng-model="curProj.scOpt.useRatio" name="scRatio"
                                               ng-disabled="curProj.id === null"
                                               ng-pattern="/^[0-9]*(\.[0-9]*)?$/"
                                               required placeholder="1=普通，大于1=Retina"/>
                                        <div ng-messages="curProjForm.scRatio.$error">
                                            <div ng-message="required">请输入一个普通数值</div>
                                            <div ng-message="pattern">请输入一个有效的数值</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Rem像素比</label>
                                        <input ng-model="curProj.scOpt.useRem" name="scRem"
                                               ng-disabled="curProj.id === null"
                                               ng-pattern="/^[0-9]*(\.[0-9]*)?$/"
                                               required placeholder="1=不转为Rem，其它=1rem与px的换算值"/>
                                        <div ng-messages="curProjForm.scRem.$error">
                                            <div ng-message="required">请输入一个普通数值</div>
                                            <div ng-message="pattern">请输入一个有效的数值</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>输出目录</label>
                                        <input ng-model="curProj.scOpt.outputDir" name="scOutput"
                                               ng-disabled="curProj.id === null"
                                               placeholder="保存合并后的雪碧图的目录，相对于项目根目录的路径"/>
                                    </md-input-container>
                                </md-card-content>
                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">样式前缀</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content layout="column">
                                    <md-input-container class="md-block" flex>
                                        <label>目标浏览器范围</label>
                                        <input ng-model="curProj.pcOpt.browsers" name="pcBrowsers" required
                                               ng-disabled="curProj.id === null"
                                               placeholder="参数形式可参考 autoprefixer 相关文档"/>
                                        <div ng-messages="curProjForm.pcBrowsers.$error">
                                            <div ng-message="required">请输入目标浏览器范围</div>
                                        </div>
                                    </md-input-container>
                                </md-card-content>
                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">文件分发</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content layout="column">
                                    <div layout="row">
                                        <md-switch ng-model="curProj.alOpt.flatten" flex="50"
                                                   ng-disabled="curProj.id === null">简化目录结构
                                        </md-switch>
                                        <md-switch ng-model="curProj.alOpt.hashLink" flex="50"
                                                   ng-disabled="curProj.id === null">链接指纹参数
                                        </md-switch>
                                    </div>
                                    <md-input-container class="md-block" flex>
                                        <label>页面文件分发目录</label>
                                        <input ng-model="curProj.alOpt.pageDir" name="alPageDir"
                                               ng-disabled="curProj.id === null"
                                               placeholder="html, php 等页面文件分发到此目录下"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>静态文件分发目录</label>
                                        <input ng-model="curProj.alOpt.staticDir" name="alStaticDir"
                                               ng-disabled="curProj.id === null"
                                               placeholder="非页面的静态文件分发到此目录下"/>
                                    </md-input-container>
                                    <div layout="row">
                                        <md-input-container class="md-block" flex="80">
                                            <label>静态文件链接前缀</label>
                                            <input ng-model="curProj.alOpt.staticUrlHead" name="alStaticUrlHead"
                                                   ng-disabled="curProj.id === null"
                                                   placeholder="静态文件与页面在不同域时，可以指定一个链接前缀"/>
                                        </md-input-container>
                                        <md-switch ng-model="curProj.alOpt.useStaticUrlHead" flex="20"
                                                   ng-disabled="curProj.id === null">启用
                                        </md-switch>
                                    </div>
                                </md-card-content>
                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">预处理脚本</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <div class="editor" ng-model="curProj.preprocessing" flex-grow
                                     ui-ace="{ theme: 'monokai', mode: 'javascript', onLoad: aceLoaded }"></div>
                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">后处理脚本</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <div class="editor" ng-model="curProj.postprocessing" flex-grow
                                     ui-ace="{ theme: 'monokai', mode: 'javascript', onLoad: aceLoaded }"></div>
                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">上传表单</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <div class="editor" ng-model="curProj.upOpt.form" flex-grow
                                     ui-ace="{ theme: 'monokai', mode: 'javascript', onLoad: aceLoaded }"></div>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">上传结果判断</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <div class="editor" ng-model="curProj.upOpt.judge" flex-grow
                                     ui-ace="{ theme: 'monokai', mode: 'javascript', onLoad: aceLoaded }"></div>
                                <md-card-content layout="column">
                                    <md-input-container class="md-block">
                                        <label>上传页面</label>
                                        <input ng-model="curProj.upOpt.page" name="uploadPage"
                                               ng-disabled="curProj.id === null"
                                               placeholder="处理项目文件上传的页面地址"/>
                                    </md-input-container>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-content>

        <div class="log-box">
            <ul class="log-list"></ul>
        </div>
    </main>
</div>

<audio data-se="upload-finished" src="audio/se_maoudamashii_chime13.ogg"></audio>

</body>


<script>
    window.pagePath = __filename;
    var pageRequire = (function () {
        var _path = require('path');
        return function (__path) {
            return require(_path.resolve(__dirname, __path));
        };
    })();

    window.appPackageFile = pageRequire('./package.json');
    window.$ = window.jQuery = pageRequire('./js/jquery.min.js');
</script>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-messages/angular-messages.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>

<script src="angular-perfect-scrollbar/perfect-scrollbar.with-mousewheel.min.js"></script>
<script src="angular-perfect-scrollbar/angular-perfect-scrollbar.js"></script>
<script src="ng-sortable/ng-sortable.min.js"></script>

<script src="js/ace/ace.js"></script>
<script src="js/ace/theme-monokai.js"></script>
<script src="js/ace/mode-javascript.js"></script>
<script src="js/ace/ui-ace.js"></script>
<script src="js/json-viewer.js"></script>

<script>
    pageRequire('./js/entry.js');
    window.electron = require('electron');

    window.windowCtrl = {
        open: function () {
            var fixTabPosition = function () {
                $('md-tabs-content-wrapper')
                        .css({'position': 'relative'})
                        .each(new Function('this.clientWidth'))
                        .css({'position': 'absolute'});
            };
            window.setTimeout(function () {
                document.querySelector('.shadow-box').classList.add('in');
                window.setTimeout(fixTabPosition, 500);
            }, 100);
        },
        close: function () {
            document.querySelector('.shadow-box').classList.remove('in');
            document.querySelector('.shadow-box').classList.add('out');
            window.setTimeout(function () {
                window.close();
            }, 500);
        },
        minimize: function () {
            var currentWindow = electron.remote.getCurrentWindow();
            currentWindow.minimize();
        },
        setReloadShortcut: function () {
            var _path = require('path');
            var _pagePath = _path.resolve('./index.html');
            var isDebug = _pagePath === pagePath;

            var ipcRenderer = electron.ipcRenderer;
            ipcRenderer.on('global-shortcut', function (ev, keys) {
                switch (keys) {
                    case 'ctrl+alt+r':
                        isDebug && window.location.reload();
                        break;
                }
            });
        },
        bindPageShortCut: function (key, func) {
            var listeners = this.pageShortCutListeners;
            if (!listeners) {
                listeners = this.pageShortCutListeners = [];
                window.addEventListener('keydown', function (e) {
                    var keys = [], key;
                    e.ctrlKey && keys.push('ctrl');
                    e.shiftKey && keys.push('shift');
                    e.altKey && keys.push('alt');
                    keys.push(String.fromCharCode(e.keyCode).toLowerCase());
                    key = keys.join('+');
                    listeners.forEach(function (listener) {
                        var _key = listener.key, _func = listener.func;
                        if (_key === key) {
                            _func(e);
                        }
                    });
                });
            }
            var _keyParts = key.split('+').map(function (_keyPart) {
                return _keyPart.toLowerCase().trim();
            });
            var keys = [], pos;

            pos = _keyParts.indexOf('ctrl');
            if (pos >= 0) {
                keys.push('ctrl');
                _keyParts.splice(pos, 1);
            }
            pos = _keyParts.indexOf('shift');
            if (pos >= 0) {
                keys.push('shift');
                _keyParts.splice(pos, 1);
            }
            pos = _keyParts.indexOf('alt');
            if (pos >= 0) {
                keys.push('alt');
                _keyParts.splice(pos, 1);
            }
            if (_keyParts[0]) {
                keys.push(_keyParts[0]);
            }
            key = keys.join('+');
            listeners.push({
                key: key,
                func: func
            });
        },
        openExternal: function (url) {
            var shell = electron.shell;
            shell.openExternal(url);
        }
    };

    windowCtrl.setReloadShortcut();
    windowCtrl.open();
</script>

</html>
