<md-dialog aria-label="默认配置"
           md-theme="{{config.theme}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>默认配置</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">&#xE14C;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-margin style="width: 480px;">
            <md-card>
                <md-card-content layout="column">
                    <md-input-container>
                        <label>应用主题</label>
                        <md-select ng-model="config.theme">
                            <md-option ng-repeat="(themeName, prop) in allThemes"
                                       value="{{themeName}}"
                                       ng-selected="config.theme == themeName">
                                {{themeName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div layout="row">
                        <md-input-container>
                            <label>监听构建延时（毫秒）</label>
                            <input ng-model="config.watchDelayTime"
                                   name="watchDelayTime"
                                   placeholder="构建前的等待时间"/>
                        </md-input-container>
                        <md-switch ng-model="config.watchToUploading">监听自动构建后上传</md-switch>
                    </div>
                    <div layout="row">
                        <md-input-container>
                            <label>上传并发限制</label>
                            <input ng-model="config.concurrentLimit"
                                   name="concurrentLimit"
                                   placeholder="可以同时上传的文件数"/>
                        </md-input-container>
                        <md-switch ng-model="config.noticeWhenUploadFinished">上传结束后声音提示</md-switch>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-content layout="column">
                    <md-input-container>
                        <label>默认输出目录（对于项目内输出目录的情况，此项无效）</label>
                        <input ng-model="config.outputDir"
                               name="outputDir"
                               placeholder="构建输出的项目都在此目录下"/>
                    </md-input-container>
                    <md-switch ng-model="config.delUnusedFiles">清理未被页面引用到的文件</md-switch>
                    <md-switch ng-model="config.htmlEnhanced">解析HTML（PHP解析异常，不推荐开启）</md-switch>
                </md-card-content>
            </md-card>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                取消
            </md-button>
            <md-button class="md-primary" ng-click="save()" style="margin-right:10px;">
                确定
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>