<!DOCTYPE html>
<html ng-app="FrontCustosGUI" style="background: transparent;">
<head>
    <meta charset="utf-8"/>
    <title>Front Custos GUI</title>
    <link rel="stylesheet" href="font/custom-font.css"/>
    <link rel="stylesheet" href="font/material-icons.css"/>

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>

    <link rel="stylesheet" href="css/jquery.jsonFormater.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body class="shadow-wrap" style="background: transparent;">
<script>
    document.ondragover = document.ondrop = function (e) {
        e.preventDefault();
        return false;
    };
</script>

<div class="window-box shadow-box theme-default">
    <header class="window-header" ng-controller="HeaderCtrl as ctrl">
        <div class="header-row">
            <!-- Title -->
            <span class="title">
                Front Custos GUI - (Ver <span ng-bind="version">...</span>)
            </span>
            <div class="spacer"></div>
            <!-- Top Bar Buttons -->
            <section class="ctrl-btns" layout="row" layout-align="center center" layout-wrap>
                <md-menu md-position-mode="target-right target">
                    <md-button class="clickable md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <md-tooltip md-direction="bottom">
                            展开菜单
                        </md-tooltip>
                        <md-icon md-menu-origin class="material-icons">arrow_drop_down</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="showConfig($event)">
                                配置
                                <span md-menu-align-target style="float: right;"></span>
                            </md-button>
                        </md-menu-item>
                        <!--<md-menu-divider></md-menu-divider>-->
                        <md-menu-item>
                            <md-button ng-click="showAbout($event)">
                                关于
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <md-button class="clickable md-icon-button"
                               ng-click="closeWindow();">
                        <md-tooltip md-direction="bottom">
                            关闭窗口
                        </md-tooltip>
                        <md-icon class="material-icons">close</md-icon>
                    </md-button>
                    <md-menu-content></md-menu-content>
                </md-menu>
            </section>
        </div>
    </header>
    <main class="window-content" ng-controller="ListBoxCtrl as ctrl">
        <!-- Project List -->
        <md-content class="list-box">
            <section class="list-scroll">
                <!--<md-subheader class="list-title">项目列表</md-subheader>-->
                <md-list class="proj-list not-selectable">
                    <md-list-item class="proj-item {{isCurrent(item.id)}}"
                                  data-id="{{item.id}}"
                                  ng-repeat="item in projList"
                                  ng-click="setCurrent(item.id, $event)"
                                  aria-label="{{item.projName}}">
                        <span ng-bind="item.projName"
                              title="{{item.projName}}"></span>
                    </md-list-item>
                </md-list>
            </section>
            <md-button class="md-fab float-btn btn-add-proj"
                       ng-click="showOpenDialog($event)">
                <md-tooltip md-direction="bottom">
                    导入项目
                </md-tooltip>
                <md-icon class="material-icons">add</md-icon>
            </md-button>
            <md-button class="md-fab md-primary float-btn btn-reload"
                       ng-show="isDebug"
                       onclick="window.location.reload();">
                <md-tooltip md-direction="bottom">
                    刷新窗口
                </md-tooltip>
                <md-icon class="material-icons">refresh</md-icon>
            </md-button>
        </md-content>

        <!-- Current Project Info -->
        <md-content class="info-box md-default-theme" ng-controller="InfoBoxCtrl as ctrl">
            <form class="info-form" name="curProjForm">
                <md-fab-speed-dial class="btn-open" ng-cloak
                                   md-open="ctrl.isOpenExpanded"
                                   md-direction="up"
                                   ng-class="ctrl.openDialMode">
                    <md-fab-trigger>
                        <md-button aria-label="打开…" class="md-fab md-primary">
                            <md-tooltip md-direction="bottom">
                                打开…
                            </md-tooltip>
                            <md-icon class="material-icons">folder</md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button aria-label="打开输出目录" class="md-fab md-raised md-mini"
                                   ng-disabled="curProj.id === null"
                                   ng-click="openDistDir()">
                            <md-tooltip md-direction="right">
                                打开项目生成目录
                            </md-tooltip>
                            <md-icon class="material-icons">assignment_returned</md-icon>
                        </md-button>
                        <md-button aria-label="打开源目录" class="md-fab md-raised md-mini"
                                   ng-disabled="curProj.id === null"
                                   ng-click="openSrcDir()">
                            <md-tooltip md-direction="right">
                                打开项目源目录
                            </md-tooltip>
                            <md-icon class="material-icons">assignment_return</md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
                <md-button class="md-fab btn-delete"
                           ng-disabled="curProj.id === null"
                           ng-click="removeProj($event)">
                    <md-tooltip md-direction="bottom">
                        删除项目配置
                    </md-tooltip>
                    <md-icon class="material-icons">delete</md-icon>
                </md-button>
                <md-button class="md-fab md-primary btn-save"
                           ng-disabled="curProj.id === null"
                           ng-click="saveProj($event)">
                    <md-tooltip md-direction="bottom">
                        保存项目配置
                    </md-tooltip>
                    <md-icon class="material-icons">save</md-icon>
                </md-button>
                <md-tabs md-border-bottom>
                    <md-tab label="基本信息">
                        <md-content layout-margin>
                            <md-card>
                                <md-card-content layout="column">
                                    <md-input-container class="md-block" flex>
                                        <label>名称</label>
                                        <input ng-model="curProj.projName" name="projName" required
                                               ng-disabled="curProj.id === null"
                                               placeholder="为将要处理的项目取个好记的名字"/>
                                        <div ng-messages="curProjForm.projName.$error">
                                            <div ng-message="required">请输入项目名称</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>版本</label>
                                        <input ng-model="curProj.version" name="version"
                                               ng-disabled="curProj.id === null"
                                               placeholder="项目目前的版本号"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>位置</label>
                                        <input ng-model="curProj.srcDir" name="srcDir" required readonly
                                               ng-disabled="curProj.id === null"
                                               placeholder="这个项目所在的本地目录"/>
                                        <div ng-messages="curProjForm.srcDir.$error">
                                            <div ng-message="required">请选择项目所在位置</div>
                                        </div>
                                    </md-input-container>

                                    <!--<md-button class="md-raised" flex="15"-->
                                    <!--ng-disabled="curProj.id === null">选择-->
                                    <!--</md-button>-->
                                </md-card-content>
                            </md-card>

                            <!--<h4>开始操作</h4>-->

                            <div layout="row">
                                <md-button class="md-raised" flex="20"
                                           ng-disabled="curProj.id === null"
                                           ng-click="buildLocally()">本地构建
                                </md-button>
                                <md-button class="md-raised md-primary" flex="20"
                                           ng-disabled="curProj.id === null"
                                           ng-click="buildUpload()">构建上传
                                </md-button>
                                <div flex></div>
                                <md-switch ng-model="curProj.upOpt.delta" flex="50"
                                           ng-disabled="curProj.id === null">增量上传
                                </md-switch>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="任务列表">
                        <md-content layout-margin>
                            <md-card>
                                <md-list>
                                    <md-list-item ng-repeat="item in allTasks"
                                                  ng-click="!(item.locked || curProj.id === null) && toggle(item.name, curProj.tasks)">
                                        <md-checkbox aria-label="{{item.desc}}"
                                                     ng-checked="item.locked || exists(item.name, curProj.tasks)"
                                                     ng-disabled="item.locked || curProj.id === null"></md-checkbox>
                                        <p flex>
                                            <span ng-bind="item.desc"></span>
                                            <em ng-bind="item.name"></em>
                                        </p>
                                    </md-list-item>
                                </md-list>
                            </md-card>
                        </md-content>
                    </md-tab>
                    <md-tab label="任务配置">
                        <md-content layout-margin>
                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">雪碧图合成</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content layout="column">
                                    <md-input-container class="md-block" flex>
                                        <label>像素密度</label>
                                        <input ng-model="curProj.scOpt.useRatio" name="scRatio"
                                               ng-disabled="curProj.id === null"
                                               ng-pattern="/^[0-9]*(\.[0-9]*)?$/"
                                               required placeholder="1=普通，大于1=Retina"/>
                                        <div ng-messages="curProjForm.scRatio.$error">
                                            <div ng-message="required">请输入一个普通数值</div>
                                            <div ng-message="pattern">请输入一个有效的数值</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Rem像素比</label>
                                        <input ng-model="curProj.scOpt.useRem" name="scRem"
                                               ng-disabled="curProj.id === null"
                                               ng-pattern="/^[0-9]*(\.[0-9]*)?$/"
                                               required placeholder="1=不转为Rem，其它=1rem与px的换算值"/>
                                        <div ng-messages="curProjForm.scRem.$error">
                                            <div ng-message="required">请输入一个普通数值</div>
                                            <div ng-message="pattern">请输入一个有效的数值</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>输出目录</label>
                                        <input ng-model="curProj.scOpt.outputDir" name="scOutput"
                                               ng-disabled="curProj.id === null"
                                               placeholder="保存合并后的雪碧图的目录，相对于项目根目录的路径"/>
                                    </md-input-container>
                                </md-card-content>
                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">样式前缀</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content layout="column">
                                    <md-input-container class="md-block" flex>
                                        <label>目标浏览器范围</label>
                                        <input ng-model="curProj.pcOpt.browsers" name="pcBrowsers" required
                                               ng-disabled="curProj.id === null"
                                               placeholder="参数形式可参考 autoprefixer 相关文档"/>
                                        <div ng-messages="curProjForm.pcBrowsers.$error">
                                            <div ng-message="required">请输入目标浏览器范围</div>
                                        </div>
                                    </md-input-container>
                                </md-card-content>
                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">文件分发</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content layout="column">
                                    <div layout="row">
                                        <md-switch ng-model="curProj.alOpt.flatten" flex="50"
                                                   ng-disabled="curProj.id === null">简化目录结构
                                        </md-switch>
                                        <md-switch ng-model="curProj.alOpt.hashLink" flex="50"
                                                   ng-disabled="curProj.id === null">链接指纹参数
                                        </md-switch>
                                    </div>
                                    <md-input-container class="md-block" flex>
                                        <label>页面文件分发目录</label>
                                        <input ng-model="curProj.alOpt.pageDir" name="alPageDir"
                                               ng-disabled="curProj.id === null"
                                               placeholder="html, php 等页面文件分发到此目录下"/>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>静态文件分发目录</label>
                                        <input ng-model="curProj.alOpt.staticDir" name="alStaticDir"
                                               ng-disabled="curProj.id === null"
                                               placeholder="非页面的静态文件分发到此目录下"/>
                                    </md-input-container>
                                    <div layout="row">
                                        <md-input-container class="md-block" flex="80">
                                            <label>静态文件链接前缀</label>
                                            <input ng-model="curProj.alOpt.staticUrlHead" name="alStaticUrlHead"
                                                   ng-disabled="curProj.id === null"
                                                   placeholder="静态文件与页面在不同域时，可以指定一个链接前缀"/>
                                        </md-input-container>
                                        <md-switch ng-model="curProj.alOpt.useStaticUrlHead" flex="20"
                                                   ng-disabled="curProj.id === null">启用
                                        </md-switch>
                                    </div>
                                </md-card-content>
                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">上传表单与页面</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <div class="editor" ng-model="curProj.upOpt.form" flex-grow
                                     ui-ace="{ theme: 'monokai', mode: 'javascript', onChange: aceChanged }"></div>
                                <md-card-content layout="column">
                                    <md-input-container class="md-block" flex>
                                        <label>上传页面</label>
                                        <input ng-model="curProj.upOpt.page" name="uploadPage"
                                               ng-disabled="curProj.id === null"
                                               placeholder="处理项目文件上传的页面地址"/>
                                    </md-input-container>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-content>

        <div class="log-box">
            <ul class="log-list"></ul>
        </div>
    </main>
</div>

</body>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-messages/angular-messages.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>

<script src="js/ace/ace.js"></script>
<script src="js/ace/theme-monokai.js"></script>
<script src="js/ace/mode-javascript.js"></script>
<script src="js/ace/ui-ace.js"></script>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.jsonFormater.js"></script>

<script>
    var pageRequire = (function () {
        var _path = require('path');
        return function (__path) {
            return require(_path.resolve(__dirname, __path));
        };
    })();
    var appPackageFile = pageRequire('./package.json');

    pageRequire('./js/entry.js');

    var windowCtrl = {
        open: function () {
            document.querySelector('.shadow-box').classList.add('in');
        },
        close: function () {
            document.querySelector('.shadow-box').classList.remove('in');
            document.querySelector('.shadow-box').classList.add('out');
            window.setTimeout(function () {
                window.close();
            }, 600);
        }
    };

    windowCtrl.open();
</script>

</html>
